:root {
  --color-primary: #008bfe;
  --color-bg: #f0f4f8;
  --color-card-bg: #ffffff;
  --color-bg-card: #272e37;
  --color-bg-main: #222831;
  --color-primary-inverted: #006fcb;
  --color-primary-light: #cce8ff;
  --color-font-header: #222222;
  --color-card-font: #000000;

  --font: "Roboto", sans-serif;
}

body {
  font-family: var(--font);
  color: var(--color-primary);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-bg);
}
